/* Colour reference chart */

/* Primary colour: #0D5EAF */
/* Secondary colour: #f2f2f2 */
/* Tertiary colour: #333 */

/* Colour reference chart */

body, html {
    height: 100%;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* Fonts */
h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica, sans-serif, Arial;
}

h1 {
    text-align: center;
}

h2,h3,h4,h5,h6,p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.gridInputs{
    display:grid;
    margin: auto;
    height:100px;
    width:400px;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display:flex;
    align-items:center;
    justify-content:center;
}

.btn{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 30px;
    width: 120px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table{
    text-align: center;
}


